.todo_list {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo_list .clear_list {
    width: 100px;
    height: 24px;
    font-size: 14px;
    background: red;
    color: white;
    border: 1px solid darkred;
    border-radius: 5px;
    transition: 1s background;
}

.todo_list .clear_list:hover {
    background: darkred;
    transition: 1s background;
}

.todo_list section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}