.todo_item {
    width: 70%;
    margin: 0.5rem;
    border-bottom: 2px solid green;
    display: flex;
}

.todo_item .done {
    text-decoration: line-through;
}

.todo_item div:first-of-type {
    display: flex;
    padding: 0 4px;
    width: 60%;
    font-size: 1.1rem;
}

.todo_item div:last-of-type {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.todo_item .item_button {
    background: transparent;
    border: none;
    border-radius: 50%;
    transition: 1s background;
    width: 30px;
    height: 30px;
}

.todo_item .item_button:hover {
    background: lightgrey;
    transition: 1s background;
}

.todo_item  .item_button img {
    width: 20px;
    height: 20px;
}

@media (min-width: 700px) {
    .todo_item {
        width: 50%;
    }

    .todo_item div:first-of-type {
        display: flex;
        padding: 0 4px;
        width: 75%;
    }
    
    .todo_item div:last-of-type {
        display: flex;
        justify-content: space-between;
        width: 20%;
    }
}