form {
    width: 70%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

form * {
    font-size: 16px;
}

form input {
    border: none;
    background: lightgray;
    padding: 4px 8px;
    border-bottom: 2px solid black;
}

form button {
    background: lightgreen;
    border: 1px solid green;
    transition: 1s background, 1s color;
    border-radius: 5px;
    margin-top: 1rem;
}

form button:hover {
    background: green;
    color: white;
    transition: 1s background, 1s color;
}

@media (min-width: 700px) {
    form {
        width: 50%;
        flex-direction: row;
        justify-content: space-between;
    }

    form input {
        width: 70%;
    }

    form button {
        width: 25%;
        margin-top: 0;
    }
  }